<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgy.myaidl">

    <application>
        <activity android:name=".ServerActivity" />

        <service
            android:name=".ServerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cyg.remote.SERVER_TALK" />
            </intent-filter>
        </service>
    </application>

</manifest>