<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgy.mycollections">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 允许程序读取通讯录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 线程池 -->
        <activity
            android:name=".functions.threadpool.ThreadPoolDemo"
            android:label="@string/title_activity_thread_pool_demo" />

        <!-- 抢红包 -->
        <service
            android:name=".functions.weixindemo.EnvelopeService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/red_envelope_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <service android:name=".FloatingService" />

        <activity
            android:name=".functions.weixindemo.RedEnvelopeDemo"
            android:label="@string/title_activity_main" />

        <!-- 语音 -->
        <activity android:name=".functions.tts.TTSDemo" />

        <service android:name=".functions.tts.TTSService" />

        <activity android:name=".functions.androiddesign.recyclerview.SimpleRecyclerViewDemo" />
        <activity android:name=".functions.framework.databinding.DataBindingDemo" />
        <activity android:name=".functions.systemui.statusbar.StatusBarDemo" />
        <activity android:name=".functions.systemui.statusbar.SystemStatusActivity" />
        <activity android:name=".functions.systemui.statusbar.DynamicStatusActivity" />
        <activity android:name=".functions.systemui.statusbar.ThirdLibStatusActivity" />
        <activity android:name=".functions.net.NetRequestDemo" />
        <activity android:name=".functions.textdemo.TextDemo" />
        <activity android:name=".functions.anim.AnimDemo" />
        <activity android:name=".functions.sqlite.DataBaseDemo" />
        <activity android:name=".functions.anim.LottieAnimActivity" />
        <activity android:name=".functions.anim.AndroidAnimActivity" />
        <activity android:name=".functions.cache.CacheDemo" />
        <activity android:name=".functions.ethereum.EthereumDemo" />
        <activity
            android:name=".KotlinActivity"
            android:label="@string/title_activity_kotlin"
            android:theme="@style/AppTheme" />
        <activity android:name=".functions.androiddesign.recyclerview.ContactListActivity" />
    </application>

</manifest>