<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgy.mycollections">

    <!-- wifi p2p所需权限 -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".functions.mediamanager.ShowImagesActivity"
            android:label="图片展示" />
        <activity
            android:name=".functions.mediamanager.MediaImagesActivity"
            android:label="@string/title_activity_media_images" />
        <activity
            android:name=".SwitchAppAliaActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity> <!-- 开机启动 -->

        <!--       使用别名 可以动态切换app logo和名称-->
        <!--         注册这个组件的名字，不需要生成文件-->
        <!--         是否显示这个启动项,都是true的话桌面会有多个图标-->
        <!--         名称，也就是对应这个启动项显示在桌面上的app名称-->
        <!--        图标，也就是对应这个启动项显示在桌面上的app图标-->
        <!--        对应的原来的Activity组件，这里路径要跟注册的Activity对应。-->
        <activity-alias
            android:name="MainActivityEntry1"
            android:enabled="false"
            android:label="Settings"
            android:icon="@mipmap/setting"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <!--别名1-->
        <activity-alias
            android:name="MainActivityEntry2"
            android:enabled="false"
            android:label="Wechat"
            android:icon="@mipmap/wechat"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>


        <activity
            android:name=".functions.threadpool.ThreadPoolDemo"
            android:label="@string/title_activity_thread_pool_demo" /> <!-- 线程池 -->
        <activity
            android:name=".functions.accessibility.AccessibilityDemo"
            android:label="@string/title_activity_main" /> <!-- 抢红包 -->
        <activity android:name=".functions.tts.TTSDemo" />
        <activity android:name=".functions.ui.androiddesign.recyclerview.SimpleRecyclerViewDemo" />
        <activity android:name=".functions.framework.databinding.DataBindingDemo" />

        <activity android:name=".functions.ui.systemui.statusbar.StatusBarDemo" /> <!-- 语音 -->
        <activity android:name=".functions.ui.systemui.statusbar.SystemStatusActivity" />

        <activity android:name=".functions.ui.systemui.statusbar.DynamicStatusActivity" />
        <activity android:name=".functions.ui.systemui.statusbar.ThirdLibStatusActivity" />

        <activity android:name=".functions.net.NetDemos" />
        <activity android:name=".functions.net.NetRequestDemo" />
        <activity android:name=".functions.net.WifiAPDemo" />
        <activity android:name=".functions.net.WifiP2PDemo" />
        <activity android:name=".functions.netconfig.NetConfigDemo" />
        <activity android:name=".functions.ui.textdemo.TextDemo" />
        <activity android:name=".functions.ui.textdemo.EditTextActivity" />
        <activity android:name=".functions.anim.AnimDemo" />
        <activity android:name=".functions.sqlite.DataBaseDemo" />
        <activity android:name=".functions.anim.LottieAnimActivity" />
        <activity android:name=".functions.anim.AndroidAnimActivity" />
        <activity android:name=".functions.cache.CacheDemo" />
        <activity android:name=".functions.ethereum.EthereumDemo" />
        <activity android:name=".functions.file.FileDemo" />
        <activity android:name=".functions.ui.dialogdemo.DialogDemo" />
        <activity android:name=".functions.mediamanager.MediaManagerDemo" />
        <activity
            android:name=".KotlinActivity"
            android:label="@string/title_activity_kotlin"
            android:theme="@style/AppTheme" />
        <activity android:name=".functions.ui.androiddesign.recyclerview.contact.ContactListActivity" />
        <activity android:name=".functions.ble.BleDemo" />
        <activity android:name=".functions.file.ProtectedFilesActivity" />
        <activity android:name=".functions.ui.UiDemos" />
        <activity android:name=".functions.jetpack.JetPackDemos" />
        <activity android:name=".testsources.arknights.ui.ArknightsDemo" />
        <activity android:name=".functions.ui.wheel.WheelDemo" />
        <activity android:name=".functions.jetpack.camerax.CameraXDemo">

            <!-- Register as a system camera app -->
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <action android:name="android.media.action.VIDEO_CAMERA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Declare notch support -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity android:name=".functions.ui.scale.ScaleViewDemo" />
        <activity android:name=".functions.chart.ChartDemo" />
        <activity android:name=".testsources.TestDemo" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".boot.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- 注册开机广播地址 -->
                <!-- <action android:name="android.intent.action.QUICKBOOT_POWERON" /> -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service
            android:name=".functions.accessibility.weixindemo.EnvelopeService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/red_envelope_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_wechat" />
        </service>
        <service
            android:name=".functions.accessibility.AutoInputAccountService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/auto_input_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_arknights" />
        </service>
        <service android:name=".FloatingService" />
        <service android:name=".functions.netconfig.BackgroundService" />
        <service android:name=".functions.tts.TTSService" />
        <service android:name=".functions.net.wifip2p.WifiServerService" />
    </application>

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- wifi p2p所需权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- <uses-permission -->
    <!-- android:name="android.permission.OVERRIDE_WIFI_CONFIG" -->
    <!-- android:protectionLevel="signature|privileged" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Declare features -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>