<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgy.mycollections">
    <!-- wifi p2p所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- wifi p2p所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.OVERRIDE_WIFI_CONFIG"
        android:protectionLevel="signature|privileged" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".functions.mediamanager.MediaImagesActivity"
            android:label="@string/title_activity_media_images" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 开机启动 -->
        <receiver
            android:name=".boot.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- 注册开机广播地址 -->
                <!-- <action android:name="android.intent.action.QUICKBOOT_POWERON" /> -->
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver> <!-- 线程池 -->
        <activity
            android:name=".functions.threadpool.ThreadPoolDemo"
            android:label="@string/title_activity_thread_pool_demo" /> <!-- 抢红包 -->
        <service
            android:name=".functions.weixindemo.EnvelopeService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/red_envelope_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <service android:name=".FloatingService" />
        <service android:name=".functions.netconfig.BackgroundService" />

        <activity
            android:name=".functions.weixindemo.RedEnvelopeDemo"
            android:label="@string/title_activity_main" /> <!-- 语音 -->
        <activity android:name=".functions.tts.TTSDemo" />

        <service android:name=".functions.tts.TTSService" />
        <service android:name=".functions.net.wifip2p.WifiServerService" />

        <activity android:name=".functions.ui.androiddesign.recyclerview.SimpleRecyclerViewDemo" />
        <activity android:name=".functions.framework.databinding.DataBindingDemo" />
        <activity android:name=".functions.ui.systemui.statusbar.StatusBarDemo" />
        <activity android:name=".functions.ui.systemui.statusbar.SystemStatusActivity" />
        <activity android:name=".functions.ui.systemui.statusbar.DynamicStatusActivity" />
        <activity android:name=".functions.ui.systemui.statusbar.ThirdLibStatusActivity" />
        <activity android:name=".functions.net.NetDemos" />
        <activity android:name=".functions.net.NetRequestDemo" />
        <activity android:name=".functions.net.WifiAPDemo" />
        <activity android:name=".functions.net.WifiP2PDemo" />
        <activity android:name=".functions.netconfig.NetConfigDemo" />
        <activity android:name=".functions.ui.textdemo.TextDemo" />
        <activity android:name=".functions.ui.textdemo.EditTextActivity" />
        <activity android:name=".functions.anim.AnimDemo" />
        <activity android:name=".functions.sqlite.DataBaseDemo" />
        <activity android:name=".functions.anim.LottieAnimActivity" />
        <activity android:name=".functions.anim.AndroidAnimActivity" />
        <activity android:name=".functions.cache.CacheDemo" />
        <activity android:name=".functions.ethereum.EthereumDemo" />
        <activity android:name=".functions.file.FileDemo" />
        <activity android:name=".functions.ui.dialogdemo.DialogDemo" />
        <activity android:name=".functions.mediamanager.MediaManagerDemo" />
        <activity
            android:name=".KotlinActivity"
            android:label="@string/title_activity_kotlin"
            android:theme="@style/AppTheme" />
        <activity android:name=".functions.ui.androiddesign.recyclerview.contact.ContactListActivity" />
        <activity android:name=".functions.ble.BleDemo" />
        <activity android:name=".functions.file.ProtectedFilesActivity" />
        <activity android:name=".functions.ui.UiDemos" />
    </application>

</manifest>