<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.growingc.mediaoperator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".PickMediaActivity" />
        <activity android:name=".filebrowser.FileDemo" />
        <activity android:name=".filebrowser.ProtectedFilesActivity" />

        <activity
            android:name=".imagebrowser.ShowImagesActivity"
            android:label="图片展示" />
    </application>

</manifest>